@media only screen and (min-width: 1000px ) {
  .home-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65px;
    align-items: center;
  }

  .nav-expand {
    display: none;
  }

  section.forecast {
    display: block;
  }

  .gallery--img:hover {
    box-shadow: 0 0 3px 3px black;
  }

  .gallery--text {
    display: block;
  }
}
